section.feedback
    h2.title Отзывы
    .owl-carousel.owl-theme.slider#slider
        .slider__item
            p.slider__text.
                Я даже не думала, что есть такой прекрасный курс. Освоила все разделы физики с помощью этого курса
            .slider__img
                img(src="./img/users/user-01.jpg", alt="user1")            
        .slider__item
            p.slider__text.
                Это потрясающий курс, который помог мне подготовиться к экзамену
            .slider__img
                img(src="./img/users/user-02.jpg", alt="user2") 
        .slider__item
            p.slider__text.
                Обучение на высшем уровне. Благодаря этому курсу смог сдать экзамен.
            .slider__img
                img(src="./img/users/user-03.jpg", alt="user3")   