header.header    
    .header__logo
        .logo
            img(src="./img/logo.png", alt="logo" width="70")
            h1 Физика
    .header__text 
        h1.header__title. 
            Занятия с репетиторами <br> по физике
        p.header__subtitle. 
            Уроки с опытными наставниками. Подготовим к ОГЭ и ЕГЭ, <br> применяя только практические задания

    form.header__form
        input(type="text" class="input" placeholder="Ваше имя")
        input(type="email" class="input" placeholder="Email")
        button(type="submit" class="button") оставить заявку					