.copyright {  
    max-width: 1600px;
    margin: 0 auto; 
    padding: 22px 0;
    background-color: $darkgray;
    text-align: right;
}

.copyright__text {
    font-weight: 500;
    font-size: 14px;
    color: #323335;
}