extends ./../layouts/main.pug

block variables
    - const title = "Занятия по физике";

block content
    include ./../sections/header.pug

    section.section-functional
        .container        
            .row 
                .col-12.col-md-3
                    +card("hat.svg", "1500+", "Учеников с помощью нашей программы упорно занимаются и готовятся не только к ОГЭ и ЕГЭ, но и к различным олимпиадам, проверочным работам")
                .col-12.col-md-3
                    +card("clock.png", "9 из 10", "Учеников, которые прошли данное обучение, восхищаются качеством преподавания наших репетиторов, ни капельки не жалеют о своём выборе и потраченном времени")                    
                .col-12.col-md-3
                    +card("oge.svg", "Сдать ОГЭ", "На 35+ баллов, а также курс в основном делает упор на закрепление материала, знания которых пригодятся при дальнейшем обучении")                     
                .col-12.col-md-3
                    +card("ege.svg", "Сдать ЕГЭ", "На 70+ баллов и при этом репетиторы уделают вниманию на рассмотрении практических задач и отвечают на любые поставленные вопросы")    

    include ./../sections/price.pug  
    include ./../sections/feedback.pug  
    include ./../sections/footer.pug  