.social-icons
    a(href="https://vk.com/", target="_blank").social-icons__item
        img(src="./img/icons/social/vk.svg", alt="vk" width="48px")
    a(href="https://telegram.org/", target="_blank").social-icons__item
        img(src="./img/icons/social/telegram.svg", alt="telegram" width="48px")
    a(href="https://www.whatsapp.com/", target="_blank").social-icons__item
        img(src="./img/icons/social/whatsapp.svg", alt="whatsapp" width="48px")